05-telegram-lead-capture-assistant/05 - Telegram Lead Capture Assistant.json
{
  "name": "05 - Telegram Lead Capture Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "19467b36-88a7-4aa9-a2ee-cc7d74c33d6c",
      "name": "Telegram Trigger",
      "webhookId": "b62a336c-d268-45dc-a93a-ff3dde07e238",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b845a598-c24b-4d0c-b359-ab78cb7f666f",
              "name": "message_type",
              "value": "={{$json.message.document ? \"document\" :$json.message.text ? \"text\" :$json.message.voice ? \"voice\" :$json.message.photo ? \"photo\" :\"other\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "11913f36-762f-438d-9cdf-839871a3f6c9",
      "name": "Detect Message Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9fdb3b05-3388-4419-bd32-323d12717f28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8283b9a8-6b14-4663-9a86-8f65cd8225f7",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d2c2524-e017-4182-9de8-826b116abc43",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea999938-58fa-43be-8df4-6a6a2101e717",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "baf189f0-c8fb-4431-a2b7-3251bce9b78c",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        -48
      ],
      "id": "32e16f74-14fc-416d-a34d-c043229af50c",
      "name": "Route Message Type"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "=",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "status": "waiting_name",
            "created_at": "={{ DateTime.now().setZone('Asia/Hebron').toISO() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -96
      ],
      "id": "614e7aec-9cc4-48e6-9d81-31937f204b1a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length === 0) {\n  return [];\n}\n\nrows.sort((a, b) => {\n  return new Date(b.json.created_at) - new Date(a.json.created_at);\n});\n\nreturn [rows[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ],
      "id": "3ad17645-690d-4388-bbe1-d7f61111986f",
      "name": "Get Latest Session"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        96
      ],
      "id": "668782cc-ae0e-4d0e-98df-5a5acb5d56f1",
      "name": "Get User Sessions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30742fc8-9cc2-49b8-ae18-b07ce13543c4",
              "name": "status",
              "value": "={{ $json.status.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        96
      ],
      "id": "2633eddd-7da8-4cf6-9081-7533f6524e11",
      "name": "Normalize Session Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "waiting_name",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "49286250-5f93-442f-bbe8-f2359be07f47"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting_name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57619c84-ea70-4716-a07e-0e5fe0a18408",
                    "leftValue": "={{ $json.status}}",
                    "rightValue": "waiting_phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting_phone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e9ae2ff-90c6-4edb-96c6-0260e674e688",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "waiting_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting_email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "03510d4a-c340-4bb8-90af-47545b6b03d4",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "waiting_service",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "waiting_service"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e521e2d-81e7-4cf9-9c7a-e64a3f19c79c",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        48
      ],
      "id": "8648af08-c3d4-401a-9503-16ad34f95392",
      "name": "Route Session Status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f250a90-bcf4-4400-acee-4572b7ba780c",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "id": "867b29c7-3012-4848-a5e5-05d8dfddd982",
      "name": "Is Start Command"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Get Latest Session').item.json.chat_id }}",
            "name": "={{ $('Telegram Trigger').item.json.message.text }}",
            "status": "waiting_phone"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -288
      ],
      "id": "f9f0a314-ba8d-439e-8486-784a1b7f862e",
      "name": "Save Name",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Get Latest Session').item.json.chat_id }}",
            "status": "waiting_email",
            "phone": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        -96
      ],
      "id": "ebb9f3fc-b9b0-492d-b2e7-ecc8b935ba80",
      "name": "Save Phone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Get Latest Session').item.json.chat_id }}",
            "status": "waiting_service",
            "email": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        96
      ],
      "id": "918a4bd7-14ba-4c03-9deb-e99d5b5c1405",
      "name": "Save Email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8",
          "mode": "list",
          "cachedResultName": "telegram_leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zB6Lyj1I5r5VIcMDz8he-UuSwl3Az3lrY4VJ3LtXKT8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Get Latest Session').item.json.chat_id }}",
            "status": "completed",
            "service": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "chat_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        480
      ],
      "id": "1bbfcf21-ca5f-4044-bf87-83bb679eb4e1",
      "name": "Save Service",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 Welcome!\n\nWhat's your full name?",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -96
      ],
      "id": "e72f9575-a061-4a76-9ec3-9e20848cf3b3",
      "name": "Ask for Name",
      "webhookId": "6ec4e2f6-c54c-4f85-b848-c4ab6ccf219a",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "📱 What's your phone number?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        -288
      ],
      "id": "9d7f9f91-e4f3-476a-84d8-56eb31a3e084",
      "name": "Ask for Phone Number",
      "webhookId": "f7c9ba1e-dbda-4294-9373-b2f447b6f6ed",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "📱 What's your  service?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        96
      ],
      "id": "f3b16ac0-ec34-40ce-a1e1-99097136f255",
      "name": "Ask for Service",
      "webhookId": "f7c9ba1e-dbda-4294-9373-b2f447b6f6ed",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Thank you for your information!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        480
      ],
      "id": "e7c9012c-19bd-43e1-b70c-4301a9d4d60b",
      "name": "Thank User",
      "webhookId": "f7c9ba1e-dbda-4294-9373-b2f447b6f6ed",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "📱 What's your email?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        -96
      ],
      "id": "01e7e2fb-84bc-44bd-b42f-6d3f22af1f41",
      "name": "Ask for Email",
      "webhookId": "f7c9ba1e-dbda-4294-9373-b2f447b6f6ed",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ بياناتك مسجلة بالفعل.  اكتب /start إذا بدك تبدأ تسجيل جديد.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        288
      ],
      "id": "6a66322f-d1d7-4a92-af9f-d2677bcc6675",
      "name": "Send a text message",
      "webhookId": "bb02b281-8245-43ea-8fc4-b1269c7ef892",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detect Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Message Type": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "Is Start Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Sessions": {
      "main": [
        [
          {
            "node": "Get Latest Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Session": {
      "main": [
        [
          {
            "node": "Normalize Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Session Status": {
      "main": [
        [
          {
            "node": "Route Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Session Status": {
      "main": [
        [
          {
            "node": "Save Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Start Command": {
      "main": [
        [
          {
            "node": "Ask for Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Name": {
      "main": [
        [
          {
            "node": "Ask for Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Phone": {
      "main": [
        [
          {
            "node": "Ask for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Email": {
      "main": [
        [
          {
            "node": "Ask for Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Service": {
      "main": [
        [
          {
            "node": "Thank User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask for Name": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3a6354b-500d-48be-a7d5-2034a5a5c921",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f614d33b6cfc6853597d9b99af05f3ee9b93fb4b4bd4a133af35c1b20d95915"
  },
  "nodeGroups": [],
  "id": "yE8wB6XOglJdWFrc",
  "tags": []
}