02-telegram-ai-commands/02 - Telegram AI Commands.json
{
  "name": "02 - Telegram AI Commands",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        160
      ],
      "id": "94ad9bb7-7cab-4ef0-8fe1-74c94e1d13f6",
      "name": "Telegram Trigger",
      "webhookId": "8c0c019f-1ec2-48d8-8ef2-7cd43fdd2b2d",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ade1f26a-2fe4-4754-b2bf-fa850a121c2f",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "d98883f0-ef19-4832-bcb0-a4267262c582",
              "name": "username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            },
            {
              "id": "f5b1cf6f-cc25-4367-99d1-dfc366a44666",
              "name": "first_name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "00a783a0-8a29-4ca3-b946-8259ac26dcac",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        160
      ],
      "id": "56bec5ea-8d73-48b8-b4ec-8a7b103866d3",
      "name": "Normalize Telegram Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst validCommands = [\"/translate\", \"/summarize\", \"/rewrite\", \"/explain\", \"/help\"];\n\nreturn items.map((item) => {\n  const message = (item?.json?.message || \"\").trim();\n\n  let command = \"chat\";\n  let text = \"\";\n  let needsText = false;\n\n  if (message.startsWith(\"/\")) {\n    const parts = message.split(/\\s+/);\n    command = parts[0].toLowerCase();\n    text = parts.slice(1).join(\" \").trim();\n\n    if (!validCommands.includes(command)) {\n      command = \"unknown\";\n    }\n\n    if (command !== \"/help\" && command !== \"unknown\" && text === \"\") {\n      needsText = true;\n    }\n  }\n\n  return {\n    json: {\n      ...item.json,\n      command,\n      text,\n      needsText,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        160
      ],
      "id": "836655db-1c25-4c1d-ad00-7cdc63657859",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f761f7-1183-44a0-9ef0-396ee4fc1ac8",
              "name": "prompt",
              "value": "=Translate the following text to Arabic. Return only the translation:\n\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -224
      ],
      "id": "7b579ee1-6f04-4715-b245-630f08e432a6",
      "name": "Build Translate Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f761f7-1183-44a0-9ef0-396ee4fc1ac8",
              "name": "prompt",
              "value": "=Rewrite the following text clearly and professionally in Arabic:\n\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        160
      ],
      "id": "148fd5ab-2822-4fb7-b040-07080c5b955d",
      "name": "Build Rewrite Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f761f7-1183-44a0-9ef0-396ee4fc1ac8",
              "name": "prompt",
              "value": "=Explain the following topic in simple Arabic:\n\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "6ffb5849-cf3a-4a19-a33d-b6e4b2d4a9fb",
      "name": "Build Explain Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful AI assistant. Follow the user's instructions exactly."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        704,
        64
      ],
      "id": "25b461de-e1a3-4934-aff5-a94d03220e5e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        784,
        288
      ],
      "id": "84e91a49-4062-425e-918c-73bd7c17222a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/translate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94b74526-e86b-4e50-aa97-8d7eba6fcfbb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "translate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9eea3ce-f55e-41bf-8d6c-df1daa133460",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/summarize",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "summarize"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "796b88f9-47cb-4b68-9d44-69a2c09fbf9f",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/rewrite",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rewrite"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22bf9044-2d20-4ea0-b511-76bba5c4ea60",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/explain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "explain"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c80d46ea-0085-4cf5-8d41-4b0e58cf0236",
                    "leftValue": "={{ $json.command }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        96
      ],
      "id": "1b7d45da-fe36-4c06-9d05-9b935d0cbce6",
      "name": "Route Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3f761f7-1183-44a0-9ef0-396ee4fc1ac8",
              "name": "prompt",
              "value": "=Summarize the following text in Arabic using short clear bullet points.\nDo not use Markdown formatting. Do not use bold, italic, tables, or special formatting.\n\n\n{{$json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -32
      ],
      "id": "cde42d9c-9728-413d-889b-1bc63ab643a8",
      "name": "Build Summarize Prompt"
    },
    {
      "parameters": {
        "chatId": "={{ $('Route Command').item.json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        64
      ],
      "id": "100f0241-6335-4c35-a52e-7e63dc96f972",
      "name": "Send  AI Response",
      "webhookId": "75725eab-7bc1-4035-98a9-939456e6d440",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram Data').item.json.chat_id }}",
        "text": "👋 أهلاً!  أنا أقدر أساعدك بـ:  \n🌍 /translate  ترجمة النص.  \n📝 /summarize  تلخيص النص.  \n✍️ /rewrite  إعادة صياغة.  \n💡 /explain  شرح أي موضوع.\n مثال :  /translate Hello world",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        544
      ],
      "id": "fa6047d1-fc11-4c16-a261-6558b907314f",
      "name": "Send a help message",
      "webhookId": "ceed31b7-a60e-4821-81fc-1f0672725de9",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c754b47c-e1d3-4f8e-8b20-f3fd55a040e6",
              "leftValue": "={{ $json.needsText }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        160
      ],
      "id": "b670f9ec-a881-4564-91a3-4c7ecb353cc7",
      "name": "Validate Text"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Data": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Validate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Explain Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Translate Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send  AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rewrite Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "Build Translate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summarize Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rewrite Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Explain Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a help message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a help message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summarize Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Text": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "27a50cb3-6b14-44af-bd6f-2fea9e0e9692",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f614d33b6cfc6853597d9b99af05f3ee9b93fb4b4bd4a133af35c1b20d95915"
  },
  "nodeGroups": [],
  "id": "jInORrFpqUXoHfSy",
  "tags": []
}