04-telegram-ai-document-assistant/04 - Telegram AI Document Assistant.json
{
  "name": "04 - Telegram AI Document Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        32
      ],
      "id": "d4e924d3-278b-4186-9772-47d7193282de",
      "name": "Telegram Trigger",
      "webhookId": "32895507-a026-46e2-8565-104ca3d1b2b0",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        880,
        128
      ],
      "id": "b70a416e-4107-4139-8665-3bd6fcf96e50",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        128
      ],
      "id": "061eca41-2d5c-4bcb-a392-b0be777b2e06",
      "name": "Get a file",
      "webhookId": "fa51aeb5-f117-489f-837d-09c73afc8fa4",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200",
          "mode": "list",
          "cachedResultName": "telegram_document_sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Waiting for action",
            "chat_id": "={{ $('Normalize Telegram File').item.json.chat_id }}",
            "file_name": "={{ $('Normalize Telegram File').item.json.file_name }}",
            "extracted_text": "={{ $json.text }}",
            "created_at": "={{ DateTime.now().setZone('Asia/Hebron').toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "displayName": "file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "extracted_text",
              "displayName": "extracted_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        128
      ],
      "id": "8fed3ed3-c57b-4b32-9ec2-a2113b7dd1ce",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb9b4532-d6bd-433c-84cf-6d4f5c825ea1",
              "name": "message_type",
              "value": "={{$json.message.document ? \"document\" :$json.message.text ? \"text\" :$json.message.voice ? \"voice\" :$json.message.photo ? \"photo\" :\"other\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        32
      ],
      "id": "676c8ce9-b3ce-4724-a4f3-8c463a9a3468",
      "name": "Detect Message Type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "452699e8-0fc8-44d2-b1a0-a2aeaf57b1c9",
              "leftValue": "={{ $json.mime_type }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        224
      ],
      "id": "b91c1af5-b98a-4baa-953a-6ab7d47e50d9",
      "name": "Validate File Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dfca954-e1e4-4ded-80e8-1aeaddd45e90",
              "name": "choice",
              "value": "={{ $('Telegram Trigger').item.json.message.text.trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -160
      ],
      "id": "18a7f6dc-a575-4a46-9d69-fdb2290aebec",
      "name": "Normalize Telegram Text"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200",
          "mode": "list",
          "cachedResultName": "telegram_document_sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17jLHhh5PcAECw1BCTqwQl-XCZNHkS6Wo21sCcUqE200/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "chat_id",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -256
      ],
      "id": "5188e6d9-3b22-4818-a598-0b20ed969dde",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J5rhO7IFdtB4nMsq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1552,
        -352
      ],
      "id": "d4591eac-e319-4e02-bae7-04089bc75814",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1632,
        -128
      ],
      "id": "b82a23b9-ebf1-49b9-82d2-c4dc2a98d8d0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac62577-4464-479f-96c7-558bd643e98b",
              "name": "prompt",
              "value": "=You are a professional document summarizer.  Summarize the following document in Arabic.  Requirements: - Use clear bullet points. - Keep the summary concise. \nDo not use Markdown formatting. Do not use bold, italic, or special characters for formatting.\n- Do not invent information. - Focus on the main ideas only.  Document: {{ $json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -448
      ],
      "id": "93f758a3-0e97-4525-8a75-32757ff7fdab",
      "name": "Summary Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac62577-4464-479f-96c7-558bd643e98b",
              "name": "prompt",
              "value": "=You are a professional translator.\n\nTranslate the following document into Arabic.\n\nRequirements:\n- Preserve the original meaning.\n- Keep names and numbers unchanged.\n- Return only the translated text.\nDo not use Markdown formatting. Do not use bold, italic, or special characters for formatting.\nDocument: {{ $json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -256
      ],
      "id": "8e8e26a2-192b-41fb-befe-e9c0124dd920",
      "name": "Translate Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ac62577-4464-479f-96c7-558bd643e98b",
              "name": "prompt",
              "value": "=You are a professional teacher.\n\nExplain the following document in simple Arabic.\n\nRequirements:\n- Use simple language.\n- Explain difficult terms.\n- Make it easy for a beginner to understand.\nDo not use Markdown formatting. Do not use bold, italic, or special characters for formatting.\nDocument:\n{{ $json.extracted_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -64
      ],
      "id": "ac0f487e-48ea-4d62-99ed-085e58349732",
      "name": "Explain Prompt"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram File').item.json.chat_id }}",
        "text": "اختر:  1️⃣ تلخيص 2️⃣ ترجمة 3️⃣ شرح",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        128
      ],
      "id": "a25e9fff-27cf-40ce-a78b-322515115f08",
      "name": "Send Menu",
      "webhookId": "8fb868a4-0b6b-463f-bb7b-5fae339b596b",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2f64669-420c-4f24-b2de-be8b1febe5ff",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "ca658f81-fcf8-493f-80f2-a89759751a72",
              "name": "file_name",
              "value": "={{ $('Telegram Trigger').item.json.message.document.file_name }}",
              "type": "string"
            },
            {
              "id": "aa0b968f-dac9-4eae-a407-8f8fbf1f4536",
              "name": "file_id",
              "value": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
              "type": "string"
            },
            {
              "id": "9c9940c4-ed87-4a07-9dcf-88e3150fd4c3",
              "name": "mime_type",
              "value": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        224
      ],
      "id": "348ff0f0-aebd-4b08-bacf-9c0508d3d7d7",
      "name": "Normalize Telegram File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e67c301-3903-4650-ba14-d254001b95aa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7011d01d-40ce-43a9-96f1-eee5b6fa4b6c",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8794ab48-0991-450a-ba34-af48274536ea",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3939570-f57a-4dca-a040-4189cc55c630",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ecffc350-468d-4422-8f90-20a40b5e9b61",
                    "leftValue": "={{ $json.message_type }}",
                    "rightValue": "other",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -16,
        -16
      ],
      "id": "7bde9021-65fc-417a-98f6-71d7dad98f26",
      "name": "Route Message Type"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram File').item.json.chat_id }}",
        "text": "❌ اختيار غير صحيح.  اكتبي رقم فقط:  1️⃣ تلخيص 2️⃣ ترجمة 3️⃣ شرح",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        -64
      ],
      "id": "5562e128-2fc1-4624-8065-dae60d9a4047",
      "name": "Send Invalid Choice Message",
      "webhookId": "c541de1e-f3c2-4562-8d3d-10dd6854d356",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram File').item.json.chat_id }}",
        "text": "حاليًا البوت يدعم: 📄 إرسال PDF أو اختيار رقم 1، 2، 3 بعد رفع الملف.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        32
      ],
      "id": "4de7a4e2-c4ef-4ab1-9723-3db3c7ad5ad5",
      "name": "Type Not Supported",
      "webhookId": "c541de1e-f3c2-4562-8d3d-10dd6854d356",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        -352
      ],
      "id": "8ab6c48d-5e38-4666-aba3-3fabfbe54ed3",
      "name": "Send AI Response",
      "webhookId": "6a53fb7a-06e8-4bbb-ae38-84c4002ebf69",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Validate User Choice').item.json.choice }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75f73850-31ce-4864-8a8a-231db41a8a2f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87e4dae1-843b-4edf-8c37-f73cf9b3c657",
                    "leftValue": "={{ $('Validate User Choice').item.json.choice }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "58390645-2564-426c-b479-544284360cac",
                    "leftValue": "={{ $('Validate User Choice').item.json.choice }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        -272
      ],
      "id": "2e38008f-2337-4dfd-93a1-62bf8ef06014",
      "name": "User Choice Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d2eab031-fd12-4498-8636-93a3ea1b69a4",
              "leftValue": "=[\"1\", \"2\", \"3\"]",
              "rightValue": "={{ $json.choice }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        -160
      ],
      "id": "79b35bab-c0b8-4547-8e72-5e82fe2e0938",
      "name": "Validate User Choice"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nif (rows.length === 0) {\n  return [];\n}\n\nrows.sort((a, b) => {\n  return new Date(b.json.created_at) - new Date(a.json.created_at);\n});\n\nreturn [rows[0]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -256
      ],
      "id": "1c0b18f5-4a80-4d95-b21e-c1d3da0aa7c0",
      "name": "Get Latest Document"
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram File').item.json.chat_id }}",
        "text": "❌ الملف غير مدعوم.  يرجى إرسال ملف PDF فقط.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        656,
        320
      ],
      "id": "e77d7402-b759-4c8a-a236-8d661675c581",
      "name": "Send Invalid File Message",
      "webhookId": "c541de1e-f3c2-4562-8d3d-10dd6854d356",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Detect Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Message Type": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate File Type": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invalid File Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Text": {
      "main": [
        [
          {
            "node": "Validate User Choice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Get Latest Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explain Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram File": {
      "main": [
        [
          {
            "node": "Validate File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "Normalize Telegram Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Telegram File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Type Not Supported",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Type Not Supported",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Type Not Supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Choice Router": {
      "main": [
        [
          {
            "node": "Summary Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Explain Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate User Choice": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Invalid Choice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Document": {
      "main": [
        [
          {
            "node": "User Choice Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "946f8ad9-3ee1-4372-ba56-d08770f7b149",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f614d33b6cfc6853597d9b99af05f3ee9b93fb4b4bd4a133af35c1b20d95915"
  },
  "nodeGroups": [],
  "id": "67OC8gC35pJhSO17",
  "tags": []
}