10-ai-knowledge-base-rag/AI Knowledge Base Assistant (RAG).json
{
  "name": "AI Knowledge Base Assistant (RAG)",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=fileId",
                "value": "={{ $json.id }}"
              },
              {
                "name": "fileName",
                "value": "={{ $json.name }}"
              },
              {
                "name": "webViewLink",
                "value": "={{$json.webViewLink}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1008,
        16
      ],
      "id": "d26b735d-b38f-40c0-91b8-c991cf1e5caa",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### Readme\nLoad your data into a vector database with the 📚 **Load Data** flow, and then use your data as chat context with the 🐕 **Retriever** flow.\n\n**Quick start**\n1. Click on the `Execute Workflow` button to run the 📚 **Load Data** flow.\n2. Click on `Open Chat` button to run the 🐕 **Retriever** flow. Then ask a question about content from your document(s)\n\n\nFor more info, check [our docs on RAG in n8n](https://docs.n8n.io/advanced-ai/rag-in-n8n/).",
        "height": 300,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -752
      ],
      "typeVersion": 1,
      "id": "f5a43b96-bc9c-4049-9e2c-b1d03a4b6e75",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 📚 Load Data Flow",
        "height": 460,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -512
      ],
      "typeVersion": 1,
      "id": "2fc9e853-3d55-49d6-9c99-2b6008529435",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI knowledge base assistant.\n\nFor every user question:\n- Always use the \"retrieve a document\" tool before answering.\n- Answer ONLY using the retrieved information.\n- Never use your own knowledge or make up information.\n- If no relevant information is found, reply exactly:\n\"I couldn't find this information in the uploaded documents.\"\n- Keep answers clear and concise.\n\nFormat for Telegram:\n- Use HTML formatting.\n- Use <b>text</b> for bold.\n- Do not use Markdown.\n- Do not use headers, tables, or nested formatting.\n- Keep formatting minimal and simple."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1552,
        -816
      ],
      "id": "ce714380-455a-4c06-8110-d227822ab05d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "### 🐕 2. Retriever Flow",
        "height": 460,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        -912
      ],
      "typeVersion": 1,
      "id": "388d800e-17a2-4b3e-977b-91c033f4256b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Embeddings\n\nThe Insert and Retrieve operation use the same embedding node.\n\nThis is to ensure that they are using the **exact same embeddings and settings**.\n\nDifferent embeddings might not work at all, or have unintended consequences.\n",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        -352
      ],
      "typeVersion": 1,
      "id": "f4019010-17b0-412b-b691-17d448525e84",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1YLPOnP1fhNikS6w-JrQWDcYe9d6LW-Av",
          "mode": "list",
          "cachedResultName": "Knowledge Base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YLPOnP1fhNikS6w-JrQWDcYe9d6LW-Av"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1808,
        -208
      ],
      "id": "4daf7e39-f591-457c-83fe-d5a74f3490f7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BYTwXsM9zrw26IgW",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.Id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1440,
        -208
      ],
      "id": "496b2511-0a8b-41de-a10f-1275bb8ba842",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BYTwXsM9zrw26IgW",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1376,
        -384
      ],
      "id": "29307c7f-043a-42c4-9c9e-250c1f74a42a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1584,
        -592
      ],
      "id": "bfd8b364-f8af-42fe-b012-1349c3776362",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1808,
        -608
      ],
      "id": "7dc43e79-8512-4ee3-997d-80fac0c5618a",
      "name": "Telegram Trigger",
      "webhookId": "fffea151-968b-47d3-9a32-fc1e85e111a2",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1024,
        -608
      ],
      "id": "f6157968-3706-4bd6-95d0-32bfec869c3d",
      "name": "Send a text message",
      "webhookId": "46d5d490-13f3-4a28-986c-96237453173a",
      "credentials": {
        "telegramApi": {
          "id": "n7euTXvwcI0UOgCd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1088,
        -208
      ],
      "id": "747eb47f-df97-4dde-96c0-b7df01cfbae9",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pXJ5TohC94mbfElV",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the uploaded documents for relevant information.\nAlways use this tool before answering.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -592
      ],
      "id": "be2dd2ef-a466-4863-98f4-2e8efa8e3372",
      "name": "retrieve a document",
      "credentials": {
        "supabaseApi": {
          "id": "pXJ5TohC94mbfElV",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "retrieve a document",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "retrieve a document": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf2833d6-7465-4ad2-9e2e-31f6201a9eac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f614d33b6cfc6853597d9b99af05f3ee9b93fb4b4bd4a133af35c1b20d95915"
  },
  "nodeGroups": [],
  "id": "9HlPdQQUZnZTYVX9",
  "tags": []
}